accelerate==0.21.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.11
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
bitsandbytes==0.41.0
blinker==1.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
cmake==4.0.2
contourpy==1.3.2
cycler==0.12.1
dash==3.0.4
deepspeed==0.9.5
distro==1.9.0
einops==0.6.1
einops-exts==0.0.4
exceptiongroup==1.3.0
fastapi==0.115.12
ffmpy==0.6.0
filelock==3.18.0
Flask==3.0.3
fonttools==4.58.4
frozenlist==1.6.2
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
gradio==3.35.2
gradio_client==0.2.9
h11==0.14.0
hf-xet==1.1.3
hjson==3.1.0
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.33.0
# Editable install with no version control (ictc==0.1.0)
-e /gpfs/home3/scur0274/Text_clustering/ICTC
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
latex2mathml==3.78.0
linkify-it-py==2.0.3
lit==18.1.8
# Editable install with no version control (llava==1.1.1)
-e /gpfs/home3/scur0274/Text_clustering/LLaVA
markdown-it-py==2.2.0
markdown2==2.5.3
MarkupSafe==2.1.5
matplotlib==3.10.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.4.4
narwhals==1.42.1
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
openai==1.86.0
orjson==3.10.18
packaging==25.0
pandas==2.3.0
peft==0.4.0
pillow==10.4.0
platformdirs==4.3.8
plotly==6.1.2
propcache==0.3.1
protobuf==6.31.1
psutil==7.0.0
py-cpuinfo==9.0.0
pydantic==1.10.22
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
retrying==1.3.4
rich==14.0.0
rpds-py==0.25.1
ruff==0.11.13
safetensors==0.5.3
scikit-learn==1.2.2
scipy==1.15.3
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.29.1
setproctitle==1.3.6
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.46.2
svgwrite==1.4.3
sympy==1.14.0
threadpoolctl==3.6.0
timm==0.6.13
tokenizers==0.13.3
tomlkit==0.12.0
torch==2.0.1
torchaudio==2.6.0+cu118
torchvision==0.15.2
tqdm==4.67.1
transformers==4.31.0
triton==2.0.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
uc-micro-py==1.0.3
urllib3==2.4.0
uvicorn==0.34.3
wandb==0.20.1
wavedrom==2.0.3.post3
websockets==11.0.3
Werkzeug==3.0.6
yarl==1.20.0
zipp==3.23.0
